<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{%block titel %}{% endblock%}</title>
    </head>
    <body>
        <head>
            <nav>
                <ul>
                    <li>Flask Demo</li>
                </ul>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </head>
    {%block titel %}
    {% endblock%}
    
    </body>

</html>